<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <redboxdigital_linkedin>
            <general>
                <is_visible>1</is_visible>
            </general>
        </redboxdigital_linkedin>
    </default>
</config>